div {
	color: #373737;
}
ul {
	list-style-type: none;
	float: top;
	background-color: #101010;
	position: fixed;
	top: -25px;
	left: 0px;
	width: 100%;
	height: 70px;
}
.twitter-timeline {
	float: right;
}
table {
	width: 98%;
	margin: 0 auto;
	padding: 3px;
	
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #2B2B2B;
}
td, th {
	vertical-align:middle;
	background-color:#FDFFFD;

	border:0px solid #000000;
	border-width:0px 0px 0px 0px;
	text-align: center;
	padding:7px;
	font-size:17px;
	font-family:Trebuchet MS;
	font-weight:normal;
	color:#000000;
}

li {
	float: left;
}
li.header {
	padding-top: 12px;
	padding-left: 24px;
}
li.search {
	float: right;
	padding-right: 4px;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #3939AA;
}
a:hover {
	color: #696969;
}
th {
	font-weight: bold;
	overflow: hidden;
	background-color:#FAFFFA;
}
td {
	color: #212121;
}
a.navbar {
	background-color: #101010;
	color: #BBBBBB;
	height: 35px;
	display: block;
	width: 130px;
	padding: 5px;
	margin-top: 25px;
	text-align: center;
}
a.navbarSel {
	display: block;
	width: 130px;
	padding: 5px;
	text-align: center;
	margin-top: 10px;
	height: 50px;
	background-color: #000000;
	color: #EEEEEE;
}
a.navbar:hover {
	margin-top: 10px;
	height: 50px;
	background-color: #000000;
	color: #EEEEEE;
}
input.search_box {
	background-color: #202020;
	border-width: 2px;
	border-color: #303030;
	width: 200px;
	height: 25px;
	margin-top: 20px;
	margin-right: 70px;
	color: #E4E4E4;
	font-weight: 200;
}
div.article {
	position: relative;
    vertical-align: top;
	display: table-cell;
	word-wrap: break-word;
	z-index: -2;
}
tr td,th {
	border-bottom:1pt solid black;
}